# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objective:**
- Know list of some popular languages for Data Science
- Know list of some commonly used libraries for Data Science
- Know open source development environment tools in Data Science
- Understand some example of arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. matplotlib
3. tensorflow
4. ggplot
5. seaborn
6. apache spark

|Data Science Tools|
|------------------|
|Jupyter|
|RStudio|
|Apache Zepppelin|

### Below are a few examples of evaluating arithmetic expressions in Python:

In [18]:
(3*4)+5

17

In [20]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

# Author
Surya Burhani Wijaya